.react-calendar {
    width: 100%;
    border: none;
    line-height: 1.125em;
}
.react-calendar__navigation button {
  font-size: 1.125em;
      line-height: 2.222223em;
      text-transform: capitalize;
      color: var(--color);
      font-family: var(--ion-font-family,inherit);
}
abbr {
  font-family: var(--ion-font-family,inherit);
  text-decoration: none;
}
.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__month-view__days .react-calendar__tile:disabled {
    background: none;
    color: buttontext;
}
.react-calendar__tile--active {
    background: var(--ion-color-primary) !important;
    z-index: 999;
  }
.react-calendar__month-view__days button {
  height: 8vh;
    max-height: 53px;
    /* max-width: 53px !important; */
    border-radius: 50%;
    position: relative;
}

.react-calendar__month-view__days button abbr{
      padding: 17px 7px;
}
.dateStamp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.with-event::after {
  content: "111";
  position: relative;
  color: red;
  display: block;
}
.react-calendar__tile:disabled::after {
  content: "";
position: absolute;
right: 40%;
bottom: 5px;
display: block;
width: 10px;
height: 10px;
background: var(--ion-color-success) !important;
border-radius: 50%;
}
