.react-calendar {
    width: 100%;
    border: none;
    line-height: 1.125em;
}
.react-calendar__navigation button {
  font-size: 1.125em;
      line-height: 2.222223em;
      text-transform: capitalize;
      color: var(--color);
      font-family: var(--ion-font-family,inherit);
}
abbr {
  font-family: var(--ion-font-family,inherit);
  text-decoration: none;
}
.ios .react-calendar {
  margin-top: 50px;
}
.ios .calendarButton {
  margin-bottom: 3em;
}
.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__month-view__days .react-calendar__tile:disabled {
    background: none;
    color: buttontext;
}

.react-calendar__month-view__days button {
  height: 8vh;
    max-height: 14.2857vw;
    /* max-width: 53px !important; */
    border-radius: 50%;
    position: relative;
}

.react-calendar__month-view__days button abbr{
      padding: 17px 7px;
}
.dateStamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.with-event::after {
  content: "111";
  position: relative;
  color: red;
  display: block;
}

.dateStamp p {
  margin: 0px
}
.search-item__open {
  border: 1px solid red;
}
.react-calendar__navigation button[disabled] {
    background-color: #fff !important;
}
