.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.float-menu {
  z-index: 99999;
}
.sc-ion-alert-md-h, .sc-ion-alert-md-s {
  z-index: 99999 !important
}
.width-max {
  width: 100%
}
.appversion {
  position: relative;
  left: 2em;
  bottom: 1em
}
.width {
  width: 100%
}
