.add-message-button {
  position: fixed;
  right: 3vw;
  bottom: 1.5vh;
}
.new-message-button {
  position: fixed;
  right: 3vw;
  bottom: 15vw;
  z-index: 99999;
}
.teacher-name {
  font-size: 1.7em
}
.padding {
  padding-top: 8px;
}
.message-header {
  padding-bottom: 0px
}
.react-calendar__tile:disabled::after {
  content: "";
position: absolute;
right: 40%;
bottom: 5px;
display: block;
width: 10px;
height: 10px;
background: var(--ion-color-success) !important;
border-radius: 50%;
}
.message-content {
  padding-top: 5px
}
.message-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.with-padding {
  padding-left: 10px;
}
.new-message-name {
  word-wrap: normal;
  color: #000;
  margin: 10px 0;
  font-weight: normal;
  font-size: 1em !important;
}
.with-margin-top {
  margin-top: 1em;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 90%;
              flex: 1 1 90%;
}
.full-width {
  width: 100%
}
.textarea-main > {
  padding: 0;
}
.write-message {
    -ms-flex-item-align: end;
        align-self: end;
    width: 100%;
}
.message-button {
  -ms-flex-item-align: center;
      align-self: center;
}
.container-new-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-new-message .footer-md {
  /* margin-top: 50px; */
  -ms-flex-item-align: end;
      align-self: flex-end;
  bottom: 0;
  position: fixed;
}
.recipients {
  margin: 0px;
  margin-bottom: 10px;
}
