.add-message-button {
  position: fixed;
  right: 3vw;
  bottom: 1.5vh;
}
.new-message-button {
  position: fixed;
  right: 3vw;
  bottom: 15vw;
  z-index: 99999;
}
.teacher-name {
  font-size: 1.7em
}
.message-header {
  padding-bottom: 0px
}
.message-content {
  padding-top: 5px
}
.message-header-container {
  display: flex;
  justify-content: space-between;
}
.with-padding {
  padding-left: 10px;
}
.new-message-name {
  word-wrap: normal;
  color: #000;
  margin: 10px 0;
  font-weight: normal;
  font-size: 1em !important;
}
.with-margin-top {
  margin-top: 1em
}
.full-width {
  width: 100%
}
.textarea-main > {
  padding: 0
}
.write-message {
  position: absolute;
  width: 100%;
  bottom: 0
}
.message-button {
  align-self: center;
}
