.add-message-button {
  position: fixed;
  right: 3vw;
  bottom: 1.5vh;
}
.new-message-button {
  position: fixed;
  right: 3vw;
  bottom: 15vw;
  z-index: 99999;
}
.teacher-name {
  font-size: 1.7em
}
.message-header {
  padding-bottom: 0px
}
.message-content {
  padding-top: 5px
}
.message-header-container {
  display: flex;
  justify-content: space-between;
}
.with-padding {
  padding-left: 10px;
}
.new-message-name {
  word-wrap: normal;
  font-size: .8em !important;
}
